<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Rebex.Common" version="7.0.9448" targetFramework="net48" />
  <package id="Rebex.Networking" version="7.0.9448" targetFramework="net48" />
  <package id="Rebex.SshShell" version="7.0.9448" targetFramework="net48" />
  <package id="Rebex.Telnet" version="7.0.9448" targetFramework="net48" />
  <package id="Rebex.Terminal" version="7.0.9448" targetFramework="net48" />
  <package id="Rebex.Terminal.Control" version="7.0.9448" targetFramework="net48" />
  <package id="Rebex.Terminal.SerialPort" version="7.0.9448" targetFramework="net48" />
</packages>